*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Silkscreen', cursive;
}
body{
    font-size: 1.8rem;
}

.game-container{
    position: relative;
    width:100vw;
    height: 100vh;
    background-color: #4E2B4B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
canvas{
    margin-top:6rem;
    border: 2px solid white;
    border-radius: .5rem;
    background-color:#92ABB6;
}

.notifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 54rem;
    height: 30rem;
    background-color: white;
    position: absolute;
    top:14rem;
    background-color:#012030;
    border-radius: 2rem;
}

.notifications p {
    font-size: 2.5rem;
    text-align: center;
    color :green;
}

.active{
    display: none;
}

.notifications .restart{
    margin-top: 2rem;
    display: flex;
    gap:5rem;
}

.notifications .restart button {
    padding: 1rem;
    font-family: 'Silkscreen', cursive;
    background: transparent;
    color: green;
    font-size: 1.8rem;
    box-shadow: 1px 1px 1px 0 rgba(173, 171, 171, 0.808);
    cursor:pointer;
}

.notifications .restart button:hover{
    background-color: green;
    color:white;
}


.game-container .btns{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,minmax(auto,70px));
    grid-template-rows: repeat(2,minmax(auto,60px))
}

.game-container .btns button{
    border-radius: 2rem;
    background-color: #92ABB6;
    box-shadow: 1px 2px 0px 1px;
    cursor:pointer;
}

.game-container .btns button:hover{
    background-color: aliceblue;
}


#up{
    grid-column: 2 / 3;
}
#left{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#right{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#down {
    grid-column : 2/3;
    grid-row: 2/3;
}


.bottom{
    margin: 0 auto;
    height: 100%;
    margin-top:5rem;
    display:flex;
    flex-direction: row-reverse;
    gap:16rem;
}

.game-container .messages{
    color:#EEE4AF;
    font-size: 3rem;
    font-weight: bold;
}

.game-container .messages #result {
    font-size: 2.5rem;
}